<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="/mnt/d/algoritm_copaci/config_navigatie/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="/mnt/d/algoritm_copaci/config_navigatie/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="/mnt/d/algoritm_copaci/config_navigatie/local_costmap_params.yaml" command="load" />
        <rosparam file="/mnt/d/algoritm_copaci/config_navigatie/global_costmap_params.yaml" command="load" />
        
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="NavfnROS/allow_unknown" value="true" />
        
        <param name="planner_frequency" value="2.0" />
        <param name="controller_frequency" value="10.0" />
        
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
        
        <param name="TrajectoryPlannerROS/max_vel_x" value="2.0" />
        <param name="TrajectoryPlannerROS/min_vel_x" value="0.2" />
        <param name="TrajectoryPlannerROS/max_vel_theta" value="1.5" />
        <param name="TrajectoryPlannerROS/acc_lim_x" value="1.0" />
        <param name="TrajectoryPlannerROS/acc_lim_theta" value="2.0" />
        
        <param name="TrajectoryPlannerROS/sim_time" value="4.0" /> 
        <param name="TrajectoryPlannerROS/holonomic_robot" value="false" />
        <param name="TrajectoryPlannerROS/yaw_goal_tolerance" value="0.5" />
        <param name="TrajectoryPlannerROS/xy_goal_tolerance" value="1.0" />
        
        <remap from="cmd_vel" to="/cmd_vel" />
        <remap from="odom" to="/odom" />
    </node>
</launch>